# Exercise 1

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import requests
import re
from enum import Enum
from bs4 import BeautifulSoup

The data can be fetched from IS-Academia usign a form. To automate this process we looked at the form  source code to find out what query is sent to the server to obtain the data. We found that the query is sent to http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter with the values of the form fields as request parameters (appended to the URL after a '?').

The first step is to find out the values correspondig to the parameters we're interested in. To do so we parse the form HTML with BeautifulSoup.

In [2]:
r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_b_list=1&ww_i_reportmodel=133685247&ww_c_langue=&ww_i_reportModelXsl=133685270&zz_x_UNITE_ACAD=Informatique&ww_x_UNITE_ACAD=249847&zz_x_PERIODE_ACAD=2016-2017&ww_x_PERIODE_ACAD=355925344&zz_x_PERIODE_PEDAGO=Bachelor+semestre+1&ww_x_PERIODE_PEDAGO=249108&zz_x_HIVERETE=&ww_x_HIVERETE=null&dummy=ok')
soup = BeautifulSoup(r.text, 'html.parser')

In [3]:
def printFieldValues(field_name):
    for opt in soup.find('select', {'name': field_name}).find_all('option'):
        print(opt.string, "=", opt['value'])

The values of the different fields:

In [4]:
# Academic unit
print("=== Academic unit ===")
printFieldValues('ww_x_UNITE_ACAD')

# Academic period
print("\n\n=== Academic period ===")
printFieldValues('ww_x_PERIODE_ACAD')

# Pedagogic period
print("\n\n=== Pedagogic period ===")
printFieldValues('ww_x_PERIODE_PEDAGO')

=== Academic unit ===
None = null
Architecture = 942293
Chimie et génie chimique = 246696
Cours de mathématiques spéciales = 943282
EME (EPFL Middle East) = 637841336
Génie civil = 942623
Génie mécanique = 944263
Génie électrique et électronique  = 943936
Humanités digitales = 2054839157
Informatique = 249847
Ingénierie financière = 120623110
Management de la technologie = 946882
Mathématiques = 944590
Microtechnique = 945244
Physique = 945571
Science et génie des matériaux = 944917
Sciences et ingénierie de l'environnement = 942953
Sciences et technologies du vivant = 945901
Section FCUE = 1574548993
Systèmes de communication = 946228


=== Academic period ===
None = null
2016-2017 = 355925344
2015-2016 = 213638028
2014-2015 = 213637922
2013-2014 = 213637754
2012-2013 = 123456101
2011-2012 = 123455150
2010-2011 = 39486325
2009-2010 = 978195
2008-2009 = 978187
2007-2008 = 978181


=== Pedagogic period ===
None = null
Bachelor semestre 1 = 249108
Bachelor semestre 2 = 249114
Bachelor semestre 3 = 942155
Bachelor semestre 4 = 942163
Bachelor semestre 5 = 942120
Bachelor semestre 5b = 2226768
Bachelor semestre 6 = 942175
Bachelor semestre 6b = 2226785
Master semestre 1 = 2230106
Master semestre 2 = 942192
Master semestre 3 = 2230128
Master semestre 4 = 2230140
Mineur semestre 1 = 2335667
Mineur semestre 2 = 2335676
Mise à niveau = 2063602308
Projet Master automne = 249127
Projet Master printemps = 3781783
Semestre automne = 953159
Semestre printemps = 2754553
Stage automne 3ème année = 953137
Stage automne 4ème année = 2226616
Stage printemps 3ème année = 983606
Stage printemps 4ème année = 2226626
Stage printemps master = 2227132

To make the code more readable we define enums containing these values:

In [5]:
# Define ISA codes

class AcademicUnit(Enum):
    Informatique = 249847
    
class AcademicPeriod(Enum):
    y20162017  =  355925344
    y20152016  =  213638028
    y20142015  =  213637922
    y20132014  =  213637754
    y20122013  =  123456101
    y20112012  =  123455150
    y20102011  =  39486325
    y20092010  =  978195
    y20082009  =  978187
    y20072008  =  978181
    
class PedagogicPeriod(Enum):
    Bachelor1  =  249108
    Bachelor2  =  249114
    Bachelor3  =  942155
    Bachelor4  =  942163
    Bachelor5  =  942120
    Bachelor6  =  942175

We now create a function to get the data matching a filter from ISA. To do so we send a request with the given parameters to obtain the filter and the mysterious "GPS" value and then query the resulting table.

In [6]:
def getDataTable(academicUnit, academicPeriod, pedagogicPeriod):
    """Get HTML table from ISA given filter values."""
    
    # URLs of ISA
    url1 = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter"
    url2 = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html"

    # Send a first request to obtain the "GPS" value
    payload1 = {
        'ww_b_list':'1',
        'ww_i_reportmodel':'133685247',
        'ww_c_langue':'',
        'ww_i_reportModelXsl':'133685270',
        'zz_x_UNITE_ACAD':'',
        'ww_x_UNITE_ACAD': academicUnit.value,
        'zz_x_PERIODE_ACAD':'',
        'ww_x_PERIODE_ACAD': academicPeriod.value,
        'zz_x_PERIODE_PEDAGO':'',
        'ww_x_PERIODE_PEDAGO': pedagogicPeriod.value,
        'zz_x_HIVERETE':'',
        'ww_x_HIVERETE': 'null',
        'dummy':'ok'
    }

    # Get the GPS value in the response (it is in the second link with "ww_x_GPS" class)
    r1 = requests.get(url1, payload1)
    soup = BeautifulSoup(r1.text, 'html.parser')
    gps = re.search("\d+",soup.find_all('a', {'class': 'ww_x_GPS'})[1]['onclick']).group(0)

    # Send the request to obtain the table
    payload2 = {
        'ww_x_GPS':gps,
        'ww_i_reportModel':'133685247',
        'ww_i_reportModelXsl':'133685270',
        'ww_x_UNITE_ACAD': academicUnit.value,
        'ww_x_PERIODE_ACAD': academicPeriod.value,
        'ww_x_PERIODE_PEDAGO': pedagogicPeriod.value,
        'ww_x_HIVERETE': 'null'
    }

    # Return the table
    r2 = requests.get(url2,payload2)
    soup = BeautifulSoup(r2.text, 'html.parser')
    
    return soup.find('table')

And then we create a function to build a DataFrame from the HTML table:

In [7]:
def parseTable(table, master=False):
    """Parses an HTML table from ISA and returns a dataframe with it's relevant content."""
    rows = map(lambda x: x.find_all('td'), table.find_all('tr')[2:])
    data = []
    
    for row in rows:
        if(master):
            data.append({'Civility': row[0].string, 'Name': row[1].string, 'Specialisation': row[4].string,
                         'Minor': row[6].string, 'Sciper': row[10].string})
        else:
            data.append({'Civility': row[0].string, 'Name': row[1].string, 'Sciper': row[10].string})
        
    return pd.DataFrame(data)

Now we can fetch bachelor student's data from ISA (takes a long time to execute, ~ 1 minute):

In [8]:
# This takes a long time to execute !

compiled_data = []

for year in AcademicPeriod:
    for semester in PedagogicPeriod:
        data = parseTable(getDataTable(AcademicUnit.Informatique, year, semester))
        data['Year'] = year.name
        data['Semester'] = semester.name
        compiled_data.append(data)
        
bachelor = pd.concat(compiled_data)
bachelor

,Civility,Name,Sciper,Year,Semester
0,Monsieur,Abbey Alexandre,235688,y20162017,Bachelor1
1,Monsieur,Ahn Seongho,274015,y20162017,Bachelor1
2,Madame,Alemanno Sara,268410,y20162017,Bachelor1
3,Monsieur,Althaus Luca,271464,y20162017,Bachelor1
4,Monsieur,Assi Karim,274518,y20162017,Bachelor1
5,Monsieur,Badoux Luc-Antoine,249613,y20162017,Bachelor1
6,Monsieur,Bagnoud Jérôme,262214,y20162017,Bachelor1
7,Monsieur,Barbaras Yann Quentin,262239,y20162017,Bachelor1
8,Monsieur,Barras Luca,257916,y20162017,Bachelor1
9,Madame,Barsi Clémence Marie Sabine,271508,y20162017,Bachelor1
10,Monsieur,Baudat Adrian,269521,y20162017,Bachelor1
11,Monsieur,Baudet Sébastien,266684,y20162017,Bachelor1
12,Monsieur,Ben Achour Ghazi,258071,y20162017,Bachelor1
13,Madame,Ben Ali Ariane Leila Marie,271608,y20162017,Bachelor1
14,Monsieur,Ben Hassen Nour,204625,y20162017,Bachelor1
15,Monsieur,Ben Naceur Walid Aymen,273765,y20162017,Bachelor1
16,Monsieur,Benitez Angulo Nicolas,266668,y20162017,Bachelor1
17,Monsieur,Bensoussan Jérémy,269502,y20162017,Bachelor1
18,Monsieur,Berla Francesco,274748,y20162017,Bachelor1
19,Monsieur,Beuret Florian,274746,y20162017,Bachelor1
20,Madame,Biryukov Alice,270953,y20162017,Bachelor1
21,Monsieur,Bloem Yannick,262179,y20162017,Bachelor1
22,Madame,Bochatay Séverine,274751,y20162017,Bachelor1
23,Madame,Bogaert Alexia Marie-Céline Eveline,258330,y20162017,Bachelor1
24,Monsieur,Bonatti Raphael,260772,y20162017,Bachelor1
25,Monsieur,Bonjour Jonatan,189560,y20162017,Bachelor1
26,Madame,Boross Mathilde,270349,y20162017,Bachelor1
27,Monsieur,Bottin Stéphane Michel,269905,y20162017,Bachelor1
28,Monsieur,Boujo Max,275608,y20162017,Bachelor1
29,Monsieur,Boulaguiem Saad,263800,y20162017,Bachelor1
...,...,...,...,...,...
8,Monsieur,Conus Johann,153762,y20072008,Bachelor6
9,Monsieur,Delort Vincent,166548,y20072008,Bachelor6
10,Monsieur,Donzé Benjamin,166746,y20072008,Bachelor6
11,Monsieur,Dos Santos Patrick,166748,y20072008,Bachelor6
12,Monsieur,Droz Olivier,166751,y20072008,Bachelor6
13,Monsieur,Eberle Julien,170414,y20072008,Bachelor6
14,Monsieur,Genet Henry,166889,y20072008,Bachelor6
15,Madame,Grivet Ekaterina,161091,y20072008,Bachelor6
16,Madame,Javanmardy Khameneh Maryam,173604,y20072008,Bachelor6
17,Madame,Jesse Julia,159998,y20072008,Bachelor6
18,Monsieur,Joneja Vishal,170833,y20072008,Bachelor6
19,Monsieur,Jonnalagedda Manohar,170823,y20072008,Bachelor6
20,Monsieur,Laprade Philippe,170241,y20072008,Bachelor6
21,Monsieur,Lauber Jonas,170242,y20072008,Bachelor6
22,Monsieur,Lorch Daniel,165562,y20072008,Bachelor6
23,Monsieur,Ly Papa Alioune,167007,y20072008,Bachelor6
24,Monsieur,Mader Arnaud,166260,y20072008,Bachelor6
25,Monsieur,Marfurt Nicolas,167313,y20072008,Bachelor6
26,Monsieur,Neu Raoul,171028,y20072008,Bachelor6
27,Monsieur,Nguyen-Xuan Jérémy,167386,y20072008,Bachelor6
28,Monsieur,Raja Yanick,159516,y20072008,Bachelor6
29,Monsieur,Sahy François,161127,y20072008,Bachelor6
30,Monsieur,Smaga Jérémie,170931,y20072008,Bachelor6
31,Monsieur,Tangui Achraf,167045,y20072008,Bachelor6
32,Monsieur,Tourino Pablo,161220,y20072008,Bachelor6
33,Monsieur,Treccani Adrien,170975,y20072008,Bachelor6
34,Monsieur,Vallat Xavier,167530,y20072008,Bachelor6
35,Monsieur,Vogt Pascal,170265,y20072008,Bachelor6
36,Monsieur,Waldmeyer Marc,167439,y20072008,Bachelor6
37,Monsieur,Züger Walter,171042,y20072008,Bachelor6

Now that we have the data we can process it:
- First we filter out students that do not appear in semester 1 and 6,
- Then we count the number of semester they took for their bachelor,
- Finally we display the average duration by gender.

In [9]:
# Find out which students are registered in semester 1 and 6
bachelor1 = bachelor[bachelor['Semester'] == 'Bachelor1']
bachelor6 = bachelor[bachelor['Semester'] == 'Bachelor6']
bachelor_complete = pd.merge(bachelor1, bachelor6, how='inner', on=['Sciper'])['Sciper']

# Keep those from the whole list
bachelor_complete = bachelor[bachelor['Sciper'].isin(bachelor_complete)]

# Let's count how many semesters they took for their bachelor
bc_sem_count = bachelor_complete[['Sciper']].copy()
bc_sem_count['Month count'] = 6
bc_sem_count = bc_sem_count.groupby('Sciper').sum()

# Give them thier civility back
civilities = bachelor[['Sciper', 'Civility']].drop_duplicates()
bc_sem_count = civilities.join(bc_sem_count, how='inner', on='Sciper')

# Compute the average bachelor duration by gender
bc_sem_count.groupby('Civility').mean()

          Month count
Civility
Madame      40.758621
Monsieur    42.635870

Finally we have to decide if the difference in the means is statistically significant. To do so we will use the p-value obtained by the Two-Sample T-Test. The p-value represents the probability to observe such a difference even if the two samples are equally distributed. The Two-Sample test assumes that the two data samples are independent which is a reasonable assumption as every student is unique and passes it's exams alone.

In [10]:
# Is the difference statistically significant ?

male = bc_sem_count[bc_sem_count['Civility'] == 'Monsieur']['Month count']
female = bc_sem_count[bc_sem_count['Civility'] == 'Madame']['Month count']

stats.ttest_ind(a= male, b= female, equal_var=False).pvalue

0.24162457057332029

With a p-value of ~24% we can see that it is not improbable to observe such a difference in the average bachelor duration if the null hypothesis is that the mean of the two groups are the same.

If we were using a 95% confidence level we would fail to reject the null hypothesis, since the p-value is greater than the corresponding significance level of 5%.

# Exercise 2

Same as before but for the master:

In [11]:
class MasterPedagogicPeriod(Enum):
    Master1 = 2230106
    Master2 = 942192
    Master3 = 2230128
    #These next three are commented out because there is no data for them.
    #Master4 = 2230140
    #Mineur1 = 2335667
    #Mineur2 = 2335676
    MasterThesisFall = 249127
    MasterThesisSpring = 3781783

Acquire data for Master students. This takes quite some time.

In [12]:
compiled_data = []

for year in AcademicPeriod:
    for semester in MasterPedagogicPeriod:
        data = parseTable(getDataTable(AcademicUnit.Informatique, year, semester), True)
        data['Year'] = year.name
        data['Semester'] = semester.name
        compiled_data.append(data)
        
master = pd.concat(compiled_data)
master

,Civility,Minor,Name,Sciper,Semester,Specialisation,Year
0,Monsieur,None,Adams Marc Alain,271331,Master1,None,y20162017
1,Monsieur,None,Adamsons Valdis,273101,Master1,None,y20162017
2,Monsieur,None,Agapiou Stylianos,267543,Master1,None,y20162017
3,Monsieur,None,Aiulfi Loris Sandro,202293,Master1,None,y20162017
4,Monsieur,None,Alfonso Peterssen Alfonso,228219,Master1,Foundations of Software,y20162017
5,Monsieur,None,Angerand Grégoire Georges Jacques,212464,Master1,None,y20162017
6,Monsieur,None,Anongba Varela Dario Abougnan,226371,Master1,Software Systems,y20162017
7,Monsieur,None,Aquil Mohammad Amimul Ihsan,273107,Master1,Foundations of Software,y20162017
8,Monsieur,None,Bao Junze,266983,Master1,None,y20162017
9,Monsieur,None,Barbera Antonino,273118,Master1,None,y20162017
10,Monsieur,None,Barnabishvili Sandro,268422,Master1,None,y20162017
11,Monsieur,None,Bhattacharyya Atri,269369,Master1,None,y20162017
12,Monsieur,None,Birchmeier Alain Dominique,227120,Master1,None,y20162017
13,Monsieur,None,Bonfils Nils Pascal,236802,Master1,None,y20162017
14,Monsieur,None,Bonnome Hugo,227370,Master1,None,y20162017
15,Monsieur,None,Bordenca Tobias,226312,Master1,None,y20162017
16,Monsieur,None,Bouron Justinien Gérard Alain,236608,Master1,None,y20162017
17,Monsieur,None,Brousse Cyriaque Gilles Guillaume,227209,Master1,None,y20162017
18,Monsieur,None,Bruneau Basile Gérard Pierre,268695,Master1,None,y20162017
19,Monsieur,None,Cartier Alexis Victor Xavier,202973,Master1,Data Analytics,y20162017
20,Monsieur,None,Casademont Nicolas,223485,Master1,None,y20162017
21,Monsieur,None,Chachuat Marc Charles Francis,268704,Master1,None,y20162017
22,Monsieur,None,Champenois Bertrand Brice Marc,273156,Master1,None,y20162017
23,Monsieur,None,Charoud-Got Perséas Orféas,238020,Master1,None,y20162017
24,Monsieur,None,Chatelain Bastien Ludovic,225203,Master1,"Signals, Images and Interfaces",y20162017
25,Monsieur,None,Chevalley Sébastien,228278,Master1,None,y20162017
26,Monsieur,None,Cibils André Joaquin Joseph,234840,Master1,None,y20162017
27,Monsieur,None,Colombo Pierre Jean Adrien,272324,Master1,None,y20162017
28,Monsieur,None,Cretegny Benoit Till,186790,Master1,None,y20162017
29,Madame,None,Cretu Ana Maria,267706,Master1,None,y20162017
...,...,...,...,...,...,...,...
42,Monsieur,None,Ni Zhong Zhong,129326,Master3,None,y20072008
43,Madame,None,Oguz Gizil,172859,Master3,None,y20072008
44,Monsieur,None,Payot Jonathan,154420,Master3,None,y20072008
45,Monsieur,None,Pazeller Vincent,160208,Master3,Internet computing,y20072008
46,Monsieur,None,Peppicelli Daniel,154685,Master3,None,y20072008
47,Monsieur,None,Ramareddy Sammy,154933,Master3,None,y20072008
48,Madame,None,Reissner Coralie,159210,Master3,"Signals, Images and Interfaces",y20072008
49,Monsieur,None,Resin Pascal,154936,Master3,Biocomputing,y20072008
50,Monsieur,None,Rey Charles François,147362,Master3,None,y20072008
51,Monsieur,None,Robert Pierre-Alain,147445,Master3,None,y20072008
52,Monsieur,"Mineur en Management, technologie et entrepren...",Rosat Damien,153645,Master3,None,y20072008
53,Monsieur,None,Ruffieux Simon,154969,Master3,Biocomputing,y20072008
54,Monsieur,None,Ruffin Julien,153805,Master3,Internet computing,y20072008
55,Monsieur,None,Schönmann Patrick,147366,Master3,None,y20072008
56,Monsieur,None,Singla Adish Kumar,167854,Master3,None,y20072008
57,Monsieur,None,Suter Philippe Paul Henri,161402,Master3,Foundations of Software,y20072008
58,Monsieur,None,Tagliani Raphaël,152238,Master3,Internet computing,y20072008
59,Monsieur,None,Venkateshwaran Ganesh,159770,Master3,Internet computing,y20072008
60,Monsieur,None,Wafellman Jonathan,155093,Master3,Internet computing,y20072008
61,Madame,None,Wang Zufferey Yuanjian,171511,Master3,None,y20072008
62,Monsieur,None,Yersin Antoine,155124,Master3,None,y20072008
63,Monsieur,None,Zheng Da,172221,Master3,None,y20072008
64,Monsieur,None,Zhou Maoan,129093,Master3,None,y20072008
0,Monsieur,None,Stewart Conail,173527,MasterThesisFall,None,y20072008
0,Monsieur,None,Brutsche Florian,159852,MasterThesisSpring,Internet computing,y20072008
1,Monsieur,None,Dotta Mirco,153819,MasterThesisSpring,None,y20072008
2,Monsieur,None,Hügli Michael,145957,MasterThesisSpring,None,y20072008
3,Monsieur,None,Indra Saurabh,173257,MasterThesisSpring,None,y20072008
4,Monsieur,None,Lépine Simon,160150,MasterThesisSpring,Biocomputing,y20072008
5,Monsieur,None,Stewart Conail,173527,MasterThesisSpring,None,y20072008

We are looking for people that have finished their master, or that are finishing it this semester. That is:
* People that are not registered this year
* People that are finishing their master this semester, i.e. people that are in their master thesis

In [13]:
master_incomplete = master[(master["Year"] == "y20162017") & (master["Semester"] != "MasterThesisFall")]
master_complete = master[~master["Sciper"].isin(master_incomplete["Sciper"])]

In [14]:
master_sem_count = master_complete[['Sciper']].copy()
master_sem_count['Month count'] = 6
master_sem_count = master_sem_count.groupby('Name').sum()
master_sem_count

#Give them back their civilities
civilities_master = master_complete[['Name', "Sciper", 'Civility']].drop_duplicates()
master_sem_count = civilities_master.join(master_sem_count, how='inner', on='Sci')
master_sem_count[master_sem_count["Month count"] == 6]

                               Name  Sciper  Civility  Month count
83   Morisoli Matteo Stefano Pietro  218687  Monsieur            6
25                      Buri Andrea  188035  Monsieur            6
148          Rivas Javier Alejandro  194894  Monsieur            6
59                      Le Tuan Anh  233674  Monsieur            6
62            Mangin Cyprien Pascal  233608  Monsieur            6
89                       Shi Xiaoyu  237032    Madame            6
101                     Wenger Amos  184863  Monsieur            6
16    Chantreau Eric Stéphane-Marie  225563  Monsieur            6
79           Tychinskaya Anastasiya  200168    Madame            6
50                 Mircheska Marina  215605    Madame            6
65               Pupykin Kostiantyn  210707  Monsieur            6
33                    Fertani Mehdi  174584  Monsieur            6
31            Martin Steven-Anthony  182377  Monsieur            6
45                  Tsaturova Elena  191176    Madame            6
8                    Bouaziz Sofien  179749  Monsieur            6
19        Evans William Christopher  183256  Monsieur            6
49                  Stephan Mathieu  179756  Monsieur            6
19          Droz-dit-Busset Arnault  138088  Monsieur            6
26                  Garessus Samuel  180161  Monsieur            6
0                       Benda Lukas  154419  Monsieur            6
2                Brandinu Guillaume  153664  Monsieur            6
5                      Cetin Feride  173573    Madame            6
6                  Chipounov Vitaly  160391  Monsieur            6
7              Clivaz Jean-Philippe  145546  Monsieur            6
8                   Conus Christian  147358  Monsieur            6
9                      Conus Pascal  154465  Monsieur            6
10                    Coppel Yohann  160239  Monsieur            6
11                 De Lamarter Erik  146752  Monsieur            6
14                   Dubout Charles  160831  Monsieur            6
15                   Dubut Frédéric  172257  Monsieur            6
..                              ...     ...       ...          ...
20                   Giuclea Ràzvan  154186  Monsieur            6
21                    Gobet Olivier  153882  Monsieur            6
23              Habersaat Alexandre  161090  Monsieur            6
24          Hanser Cyrielle Morgane  153506    Madame            6
25                 Henriot Laetitia  146441    Madame            6
26               Herrmann Alexandre  153891  Monsieur            6
28                    Imhoff Lionel  153642  Monsieur            6
30                      Israël Joël  160247  Monsieur            6
34                Kornaros Nikolaos  154106  Monsieur            6
38        Matthey-de-l'Endroit Loïc  153640  Monsieur            6
39                 Mazouer Philippe  159814  Monsieur            6
41             Nansi Fabrice Cédric  148900  Monsieur            6
43                       Oguz Gizil  172859    Madame            6
44                   Payot Jonathan  154420  Monsieur            6
45                 Pazeller Vincent  160208  Monsieur            6
46                Peppicelli Daniel  154685  Monsieur            6
47                  Ramareddy Sammy  154933  Monsieur            6
48                 Reissner Coralie  159210    Madame            6
49                     Resin Pascal  154936  Monsieur            6
50             Rey Charles François  147362  Monsieur            6
51              Robert Pierre-Alain  147445  Monsieur            6
52                     Rosat Damien  153645  Monsieur            6
53                   Ruffieux Simon  154969  Monsieur            6
54                    Ruffin Julien  153805  Monsieur            6
55                Schönmann Patrick  147366  Monsieur            6
56               Singla Adish Kumar  167854  Monsieur            6
57        Suter Philippe Paul Henri  161402  Monsieur            6
58                 Tagliani Raphaël  152238  Monsieur            6
59            Venkateshwaran Ganesh  159770  Monsieur            6
61           Wang Zufferey Yuanjian  171511    Madame            6

[64 rows x 4 columns]