# Exercise 1

In [34]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import requests
import re
import matplotlib
%matplotlib inline
from enum import Enum
from bs4 import BeautifulSoup

The data can be fetched from IS-Academia usign a form. To automate this process we looked at the form  source code to find out what query is sent to the server to obtain the data. We found that the query is sent to http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter with the values of the form fields as request parameters (appended to the URL after a '?').

The first step is to find out the values correspondig to the parameters we're interested in. To do so we parse the form HTML with BeautifulSoup.

In [35]:
r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_b_list=1&ww_i_reportmodel=133685247&ww_c_langue=&ww_i_reportModelXsl=133685270&zz_x_UNITE_ACAD=Informatique&ww_x_UNITE_ACAD=249847&zz_x_PERIODE_ACAD=2016-2017&ww_x_PERIODE_ACAD=355925344&zz_x_PERIODE_PEDAGO=Bachelor+semestre+1&ww_x_PERIODE_PEDAGO=249108&zz_x_HIVERETE=&ww_x_HIVERETE=null&dummy=ok')
soup = BeautifulSoup(r.text, 'html.parser')

In [36]:
def printFieldValues(field_name):
    for opt in soup.find('select', {'name': field_name}).find_all('option'):
        print(opt.string, "=", opt['value'])

The values of the different fields:

In [37]:
# Academic unit
print("=== Academic unit ===")
printFieldValues('ww_x_UNITE_ACAD')

# Academic period
print("\n\n=== Academic period ===")
printFieldValues('ww_x_PERIODE_ACAD')

# Pedagogic period
print("\n\n=== Pedagogic period ===")
printFieldValues('ww_x_PERIODE_PEDAGO')

=== Academic unit ===
None = null
Architecture = 942293
Chimie et génie chimique = 246696
Cours de mathématiques spéciales = 943282
EME (EPFL Middle East) = 637841336
Génie civil = 942623
Génie mécanique = 944263
Génie électrique et électronique  = 943936
Humanités digitales = 2054839157
Informatique = 249847
Ingénierie financière = 120623110
Management de la technologie = 946882
Mathématiques = 944590
Microtechnique = 945244
Physique = 945571
Science et génie des matériaux = 944917
Sciences et ingénierie de l'environnement = 942953
Sciences et technologies du vivant = 945901
Section FCUE = 1574548993
Systèmes de communication = 946228


=== Academic period ===
None = null
2016-2017 = 355925344
2015-2016 = 213638028
2014-2015 = 213637922
2013-2014 = 213637754
2012-2013 = 123456101
2011-2012 = 123455150
2010-2011 = 39486325
2009-2010 = 978195
2008-2009 = 978187
2007-2008 = 978181


=== Pedagogic period ===
None = null
Bachelor semestre 1 = 249108
Bachelor semestre 2 = 249114
Bachelor semestre 3 = 942155
Bachelor semestre 4 = 942163
Bachelor semestre 5 = 942120
Bachelor semestre 5b = 2226768
Bachelor semestre 6 = 942175
Bachelor semestre 6b = 2226785
Master semestre 1 = 2230106
Master semestre 2 = 942192
Master semestre 3 = 2230128
Master semestre 4 = 2230140
Mineur semestre 1 = 2335667
Mineur semestre 2 = 2335676
Mise à niveau = 2063602308
Projet Master automne = 249127
Projet Master printemps = 3781783
Semestre automne = 953159
Semestre printemps = 2754553
Stage automne 3ème année = 953137
Stage automne 4ème année = 2226616
Stage printemps 3ème année = 983606
Stage printemps 4ème année = 2226626
Stage printemps master = 2227132

To make the code more readable we define enums containing these values:

In [38]:
# Define ISA codes

class AcademicUnit(Enum):
    Informatique = 249847
    
class AcademicPeriod(Enum):
    y20162017  =  355925344
    y20152016  =  213638028
    y20142015  =  213637922
    y20132014  =  213637754
    y20122013  =  123456101
    y20112012  =  123455150
    y20102011  =  39486325
    y20092010  =  978195
    y20082009  =  978187
    y20072008  =  978181
    
class PedagogicPeriod(Enum):
    Bachelor1  =  249108
    Bachelor2  =  249114
    Bachelor3  =  942155
    Bachelor4  =  942163
    Bachelor5  =  942120
    Bachelor6  =  942175

We now create a function to get the data matching a filter from ISA. To do so we send a request with the given parameters to obtain the filter and the mysterious "GPS" value and then query the resulting table.

In [39]:
def getDataTable(academicUnit, academicPeriod, pedagogicPeriod):
    """Get HTML table from ISA given filter values."""
    
    # URLs of ISA
    url1 = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter"
    url2 = "http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html"

    # Send a first request to obtain the "GPS" value
    payload1 = {
        'ww_b_list':'1',
        'ww_i_reportmodel':'133685247',
        'ww_c_langue':'',
        'ww_i_reportModelXsl':'133685270',
        'zz_x_UNITE_ACAD':'',
        'ww_x_UNITE_ACAD': academicUnit.value,
        'zz_x_PERIODE_ACAD':'',
        'ww_x_PERIODE_ACAD': academicPeriod.value,
        'zz_x_PERIODE_PEDAGO':'',
        'ww_x_PERIODE_PEDAGO': pedagogicPeriod.value,
        'zz_x_HIVERETE':'',
        'ww_x_HIVERETE': 'null',
        'dummy':'ok'
    }

    # Get the GPS value in the response (it is in the second link with "ww_x_GPS" class)
    r1 = requests.get(url1, payload1)
    soup = BeautifulSoup(r1.text, 'html.parser')
    gps = re.search("\d+",soup.find_all('a', {'class': 'ww_x_GPS'})[1]['onclick']).group(0)

    # Send the request to obtain the table
    payload2 = {
        'ww_x_GPS':gps,
        'ww_i_reportModel':'133685247',
        'ww_i_reportModelXsl':'133685270',
        'ww_x_UNITE_ACAD': academicUnit.value,
        'ww_x_PERIODE_ACAD': academicPeriod.value,
        'ww_x_PERIODE_PEDAGO': pedagogicPeriod.value,
        'ww_x_HIVERETE': 'null'
    }

    # Return the table
    r2 = requests.get(url2,payload2)
    soup = BeautifulSoup(r2.text, 'html.parser')
    
    return soup.find('table')

And then we create a function to build a DataFrame from the HTML table:

In [40]:
def parseTable(table, master=False):
    """Parses an HTML table from ISA and returns a dataframe with it's relevant content."""
    rows = map(lambda x: x.find_all('td'), table.find_all('tr')[2:])
    data = []
    
    for row in rows:
        if(master):
            data.append({'Civility': row[0].string, 'Name': row[1].string, 'Specialisation': row[4].string,
                         'Minor': row[6].string, 'Sciper': row[10].string})
        else:
            data.append({'Civility': row[0].string, 'Name': row[1].string, 'Sciper': row[10].string})
        
    return pd.DataFrame(data)

Now we can fetch bachelor student's data from ISA (takes a long time to execute, ~ 1 minute):

In [ ]:
# This takes a long time to execute !

compiled_data = []

for year in AcademicPeriod:
    for semester in PedagogicPeriod:
        data = parseTable(getDataTable(AcademicUnit.Informatique, year, semester))
        data['Year'] = year.name
        data['Semester'] = semester.name
        compiled_data.append(data)
        
bachelor = pd.concat(compiled_data)
bachelor

Now that we have the data we can process it:
- First we filter out students that do not appear in semester 1 and 6,
- Then we count the number of semester they took for their bachelor,
- Finally we display the average duration by gender.

In [ ]:
# Find out which students are registered in semester 1 and 6
bachelor1 = bachelor[bachelor['Semester'] == 'Bachelor1']
bachelor6 = bachelor[bachelor['Semester'] == 'Bachelor6']
bachelor_complete = pd.merge(bachelor1, bachelor6, how='inner', on=['Sciper'])['Sciper']

# Keep those from the whole list
bachelor_complete = bachelor[bachelor['Sciper'].isin(bachelor_complete)]

# Let's count how many semesters they took for their bachelor
bc_sem_count = bachelor_complete[['Sciper']].copy()
bc_sem_count['Month count'] = 6
bc_sem_count = bc_sem_count.groupby('Sciper').sum()

# Give them thier civility back
civilities = bachelor[['Sciper', 'Civility']].drop_duplicates()
bc_sem_count = civilities.join(bc_sem_count, how='inner', on='Sciper')

In [ ]:
# Assumption: can't finish EPFL in less than 36 months (In this case there is only one dude that is filtered out)
bc_sem_count = bc_sem_count[bc_sem_count['Month count'] >= 36]

In [ ]:
# Distribution of the number of month spent 
bc_sem_count[['Month count']].groupby('Month count').size().plot(kind='bar')

In [ ]:
# Distribution of man vs woman
bc_sem_count.groupby('Civility').size().plot(kind='pie')

In [ ]:
# Distribution for women
gpMa = bc_sem_count.groupby('Civility').get_group('Madame')
sMa = gpMa.count()[0]
ax = gpMa.groupby('Month count').size().map(lambda x: 100*x/sMa).plot(kind='bar')
ax.set_ylabel('%')

In [ ]:
# Distribution for men
gpMo = bc_sem_count.groupby('Civility').get_group('Monsieur')
sMo = gpMo.count()[0]
ax = gpMo.groupby('Month count').size().map(lambda x: 100*x/sMo).plot(kind='bar')
ax.set_ylabel('%')

In [ ]:
# Compute the average bachelor duration by gender
bc_sem_count.groupby('Civility').mean()

In [ ]:
# std is different
bc_sem_count.groupby('Civility').std()

Finally we have to decide if the difference in the means is statistically significant. To do so we will use the p-value obtained by the Two-Sample T-Test. The p-value represents the probability to observe such a difference even if the two samples are equally distributed. The Two-Sample test assumes that the two data samples are independent which is a reasonable assumption as every student is unique and passes it's exams alone.

In [ ]:
# Is the difference statistically significant ?

male = bc_sem_count[bc_sem_count['Civility'] == 'Monsieur']['Month count']
female = bc_sem_count[bc_sem_count['Civility'] == 'Madame']['Month count']

stats.ttest_ind(a= male, b= female, equal_var=False).pvalue

With a p-value of ~22% we can see that it is not improbable to observe such a difference in the average bachelor duration if the null hypothesis is that the mean of the two groups are the same.

If we were using a 95% confidence level we would fail to reject the null hypothesis, since the p-value is greater than the corresponding significance level of 5%.

# Exercise 2

Same as before but for the master:

In [33]:
class MasterPedagogicPeriod(Enum):
    Master1 = 2230106
    Master2 = 942192
    Master3 = 2230128
    #These next three are commented out because there is no data for them.
    #Master4 = 2230140
    #Mineur1 = 2335667
    #Mineur2 = 2335676
    MasterThesisFall = 249127
    MasterThesisSpring = 3781783

Acquire data for Master students. This takes quite some time.

In [41]:
compiled_data = []

for year in AcademicPeriod:
    for semester in MasterPedagogicPeriod:
        data = parseTable(getDataTable(AcademicUnit.Informatique, year, semester), True)
        data['Year'] = year.name
        data['Semester'] = semester.name
        compiled_data.append(data)
        
master = pd.concat(compiled_data)
master

,Civility,Minor,Name,Sciper,Semester,Specialisation,Year
0,Monsieur,None,Adams Marc Alain,271331,Master1,None,y20162017
1,Monsieur,None,Adamsons Valdis,273101,Master1,None,y20162017
2,Monsieur,None,Agapiou Stylianos,267543,Master1,None,y20162017
3,Monsieur,None,Aiulfi Loris Sandro,202293,Master1,None,y20162017
4,Monsieur,None,Alfonso Peterssen Alfonso,228219,Master1,Foundations of Software,y20162017
5,Monsieur,None,Angerand Grégoire Georges Jacques,212464,Master1,None,y20162017
6,Monsieur,None,Anongba Varela Dario Abougnan,226371,Master1,Software Systems,y20162017
7,Monsieur,None,Aquil Mohammad Amimul Ihsan,273107,Master1,Foundations of Software,y20162017
8,Monsieur,None,Bao Junze,266983,Master1,None,y20162017
9,Monsieur,None,Barbera Antonino,273118,Master1,None,y20162017
10,Monsieur,None,Barnabishvili Sandro,268422,Master1,None,y20162017
11,Monsieur,None,Bhattacharyya Atri,269369,Master1,None,y20162017
12,Monsieur,None,Birchmeier Alain Dominique,227120,Master1,None,y20162017
13,Monsieur,None,Bonfils Nils Pascal,236802,Master1,None,y20162017
14,Monsieur,None,Bonnome Hugo,227370,Master1,None,y20162017
15,Monsieur,None,Bordenca Tobias,226312,Master1,None,y20162017
16,Monsieur,None,Bouron Justinien Gérard Alain,236608,Master1,None,y20162017
17,Monsieur,None,Brousse Cyriaque Gilles Guillaume,227209,Master1,None,y20162017
18,Monsieur,None,Bruneau Basile Gérard Pierre,268695,Master1,None,y20162017
19,Monsieur,None,Cartier Alexis Victor Xavier,202973,Master1,Data Analytics,y20162017
20,Monsieur,None,Casademont Nicolas,223485,Master1,None,y20162017
21,Monsieur,None,Chachuat Marc Charles Francis,268704,Master1,None,y20162017
22,Monsieur,None,Champenois Bertrand Brice Marc,273156,Master1,None,y20162017
23,Monsieur,None,Charoud-Got Perséas Orféas,238020,Master1,None,y20162017
24,Monsieur,None,Chatelain Bastien Ludovic,225203,Master1,"Signals, Images and Interfaces",y20162017
25,Monsieur,None,Chevalley Sébastien,228278,Master1,None,y20162017
26,Monsieur,None,Cibils André Joaquin Joseph,234840,Master1,None,y20162017
27,Monsieur,None,Colombo Pierre Jean Adrien,272324,Master1,None,y20162017
28,Monsieur,None,Cretegny Benoit Till,186790,Master1,None,y20162017
29,Madame,None,Cretu Ana Maria,267706,Master1,None,y20162017
...,...,...,...,...,...,...,...
42,Monsieur,None,Ni Zhong Zhong,129326,Master3,None,y20072008
43,Madame,None,Oguz Gizil,172859,Master3,None,y20072008
44,Monsieur,None,Payot Jonathan,154420,Master3,None,y20072008
45,Monsieur,None,Pazeller Vincent,160208,Master3,Internet computing,y20072008
46,Monsieur,None,Peppicelli Daniel,154685,Master3,None,y20072008
47,Monsieur,None,Ramareddy Sammy,154933,Master3,None,y20072008
48,Madame,None,Reissner Coralie,159210,Master3,"Signals, Images and Interfaces",y20072008
49,Monsieur,None,Resin Pascal,154936,Master3,Biocomputing,y20072008
50,Monsieur,None,Rey Charles François,147362,Master3,None,y20072008
51,Monsieur,None,Robert Pierre-Alain,147445,Master3,None,y20072008
52,Monsieur,"Mineur en Management, technologie et entrepren...",Rosat Damien,153645,Master3,None,y20072008
53,Monsieur,None,Ruffieux Simon,154969,Master3,Biocomputing,y20072008
54,Monsieur,None,Ruffin Julien,153805,Master3,Internet computing,y20072008
55,Monsieur,None,Schönmann Patrick,147366,Master3,None,y20072008
56,Monsieur,None,Singla Adish Kumar,167854,Master3,None,y20072008
57,Monsieur,None,Suter Philippe Paul Henri,161402,Master3,Foundations of Software,y20072008
58,Monsieur,None,Tagliani Raphaël,152238,Master3,Internet computing,y20072008
59,Monsieur,None,Venkateshwaran Ganesh,159770,Master3,Internet computing,y20072008
60,Monsieur,None,Wafellman Jonathan,155093,Master3,Internet computing,y20072008
61,Madame,None,Wang Zufferey Yuanjian,171511,Master3,None,y20072008
62,Monsieur,None,Yersin Antoine,155124,Master3,None,y20072008
63,Monsieur,None,Zheng Da,172221,Master3,None,y20072008
64,Monsieur,None,Zhou Maoan,129093,Master3,None,y20072008
0,Monsieur,None,Stewart Conail,173527,MasterThesisFall,None,y20072008
0,Monsieur,None,Brutsche Florian,159852,MasterThesisSpring,Internet computing,y20072008
1,Monsieur,None,Dotta Mirco,153819,MasterThesisSpring,None,y20072008
2,Monsieur,None,Hügli Michael,145957,MasterThesisSpring,None,y20072008
3,Monsieur,None,Indra Saurabh,173257,MasterThesisSpring,None,y20072008
4,Monsieur,None,Lépine Simon,160150,MasterThesisSpring,Biocomputing,y20072008
5,Monsieur,None,Stewart Conail,173527,MasterThesisSpring,None,y20072008

We are looking for people that have finished their master, or that are finishing it this semester. That is:
* People that are not registered this year
* People that are finishing their master this semester, i.e. people that are in their master thesis

In [63]:
master[master["Sciper"] == "146330"]

,Civility,Minor,Name,Sciper,Semester,Specialisation,Year
11,Monsieur,None,Cardinaux Damien,146330,Master3,None,y20082009
14,Monsieur,None,Cardinaux Damien,146330,Master1,None,y20072008
17,Monsieur,None,Cardinaux Damien,146330,Master2,None,y20072008

In [62]:

master.groupby("Sciper").size()

Sciper
128911    2
129093    2
129326    2
138088    1
145546    1
145957    2
146330    3
146441    1
146742    7
146752    1
146929    2
147008    4
147358    1
147362    1
147366    1
147445    1
148900    1
152232    3
152238    1
153066    6
153324    3
153506    1
153640    1
153641    1
153642    1
153645    1
153664    1
153742    2
153746    3
153762    4
         ..
268907    1
268910    1
269057    1
269096    1
269098    1
269369    1
269412    1
269423    1
269467    1
271189    1
271331    1
271711    1
271965    1
272025    1
272086    1
272324    1
272509    1
272620    1
272783    1
272785    1
272817    1
273006    1
273101    1
273107    1
273118    1
273156    1
273163    1
273182    1
273251    1
273563    1
dtype: int64

In [134]:
master_incomplete = master[(master["Year"] == "y20162017") & (master["Semester"] != "MasterThesisFall")]
master_complete = master[~master["Sciper"].isin(master_incomplete["Sciper"])]
master_complete_sem = master_complete.groupby("Sciper").size()
master_complete_scipers = master_complete_sem[master_complete_sem > 1]
scipers_frame = master_complete_scipers.to_frame()
scipers_frame.columns = ["Month_count"]
scipers_frame["Month_count"] = scipers_frame["Month_count"]*6
scipers_frame

        Month_count
Sciper
128911           12
129093           12
129326           12
145957           12
146330           18
146742           42
146929           12
147008           24
152232           18
153066           36
153324           18
153742           12
153746           18
153762           24
153819           12
154080           30
154484           18
154503           18
154573           36
154643           12
154706           18
155018           12
155093           12
155097           18
155124           12
159516           24
159771           12
159852           18
159998           18
160148           18
...             ...
244551           18
244565           18
244587           30
244618           18
244627           18
244650           12
245014           18
245047           18
245066           12
245069           12
245182           12
245192           12
245293           30
245311           18
245458           18
245475           18
245486           30
245527           30
247455           30
248065           18
248925           12
254604           18
255137           18
255163           18
256722           18
256846           18
259766           18
259910           18
260636           18
260811           18

[656 rows x 1 columns]

In [130]:
civilities_master = master_complete[["Civility", "Name", "Sciper", "Minor", "Specialisation"]].drop_duplicates()

In [171]:
master_complete = civilities_master.join(scipers_frame, how='inner', on='Sciper')
minor_or_spe = master_complete[(~master_complete["Minor"].isnull()) | (~master_complete["Specialisation"].isnull())]
not_minor_or_spe = master_complete[~master_complete["Sciper"].isin(minor_or_spe["Sciper"])]
x = pd.concat([minor_or_spe, not_minor_or_spe])
x

,Civility,Name,Sciper,Minor,Specialisation,Month_count
2,Monsieur,Antognini Marco,194182,None,Foundations of Software,42
3,Monsieur,Bouquet Stéphane,213664,"Mineur en Management, technologie et entrepren...",None,30
11,Monsieur,Bovet Sidney,214637,None,Internet computing,30
7,Monsieur,Cao Huu-Ân,203945,"Mineur en Management, technologie et entrepren...",None,30
8,Monsieur,Cardoso Rodrigues Bonifácio Vítor Gonçalo,244136,"Mineur en Management, technologie et entrepren...",None,30
13,Monsieur,Duhem Martin Nicolas,214632,None,Foundations of Software,30
14,Monsieur,El Houti Youssef,194328,None,Information Security - SP,30
16,Monsieur,Engilberge Martin Pierre,212790,None,Internet computing,30
18,Monsieur,Favrod Philémon Orphée,218353,None,Computer Engineering - SP,30
22,Monsieur,Gaspoz John,212859,None,Information Security - SP,30
24,Monsieur,Grütter Karl Samuel,201600,None,Foundations of Software,42
27,Monsieur,Junker Florian Christophe,204253,None,Internet computing,30
44,Monsieur,Junker Florian Christophe,204253,None,"Signals, Images and Interfaces",30
31,Monsieur,Majeri Kasmaei Chervine,227848,Information security minor,None,30
36,Madame,Pignat Eliéva Arlette,217301,None,Computer Engineering - SP,30
37,Monsieur,Piskas Georgios,244587,None,Software Systems,30
66,Monsieur,Robert Arnaud,214101,Mineur en Ingénierie financière,None,30
42,Monsieur,Rudelle Matthieu François Edgard,216702,None,Internet computing,30
45,Monsieur,Schegg Elias,195675,None,Internet computing,30
47,Monsieur,Sikiaridis Alexandre Jean Denis,217469,None,Foundations of Software,30
52,Monsieur,Valette Laurent Michel,205864,None,Software Systems,30
1,Madame,Bagcioglu Egeyar Özlen,232468,None,Internet computing,18
2,Monsieur,Basil John Sachin,245311,None,Software Systems,18
3,Monsieur,Beau Joris,204569,Mineur en Technologies spatiales,None,30
6,Monsieur,Bodin Antoine Philippe Michel,245475,Mineur en Ingénierie financière,None,18
10,Monsieur,Bourqui Marc,184264,None,Internet computing,30
22,Monsieur,Bourqui Marc,184264,None,Service science,30
18,Madame,Colussi Maëlle Lise,205612,None,Foundations of Software,30
19,Monsieur,Coppex Gilles,201905,Information security minor,None,24
20,Monsieur,Corthésy Sébastien,205617,"Mineur en Management, technologie et entrepren...",None,30
...,...,...,...,...,...,...
45,Monsieur,Suter François,154706,None,None,18
46,Monsieur,Wei Zhe,155097,None,None,18
0,Madame,Agarwal Megha,180027,None,None,18
2,Monsieur,Fleury Marc-Olivier,166805,None,None,18
3,Monsieur,Garg Nikhil,172264,None,None,18
6,Monsieur,Barazzutti Raphaël Pierre,173600,None,None,12
9,Monsieur,Bettex Marc,160492,None,None,12
12,Madame,Bucher Cécile,162618,None,None,12
20,Monsieur,Dumont Loïc,154643,None,None,12
31,Monsieur,Heiniger Nicolas,166921,None,None,12
34,Monsieur,Ibarguren Ibai,173902,None,None,12
37,Monsieur,Junod Antoine,146929,None,None,12
41,Madame,Krishnan Sukanya,179800,None,None,12
44,Monsieur,Losa Giuliano,179339,None,None,12
45,Madame,Lotfi Jocelyne,166029,None,None,12
46,Madame,Marian Ludmila,179930,None,None,12
48,Madame,Meinen Jennifer,161024,None,None,12
52,Monsieur,Ninkovic Marko,180269,None,None,12
61,Monsieur,Sauthier Ludovic,161138,None,None,12
63,Monsieur,Signori Jean,155018,None,None,12
64,Monsieur,Spiess Christophe,167387,None,None,12
67,Madame,Tomar Anmol,178057,None,None,12
69,Monsieur,Zalakain Ilazki,169839,None,None,12
62,Monsieur,Ni Zhong Zhong,129326,None,None,12
82,Monsieur,Yersin Antoine,155124,None,None,12
85,Monsieur,Zhou Maoan,129093,None,None,12
13,Monsieur,Dotta Mirco,153819,None,None,12
27,Monsieur,Hügli Michael,145957,None,None,12
29,Monsieur,Indra Saurabh,173257,None,None,12
0,Monsieur,Stewart Conail,173527,None,None,12

In [ ]:
master_sem_count = master_complete[['Sciper']].copy()
master_sem_count['Month count'] = 6
master_sem_count = master_sem_count.groupby('Sciper').sum()
master_sem_count

#Give them back their civilities
civilities_master = master_complete[['Name', "Sciper", 'Civility']].drop_duplicates()
master_sem_count = civilities_master.join(master_sem_count, how='inner', on='Sciper')
master_sem_count[master_sem_count["Month count"] == 6]